@model Project1.Models.CustomerViewModel

@{
    ViewData["Title"] = "Account Details";
}

<div class="text-center">
    @if (Model != null)
    {
        <h1 class="display-2">Welcome!</h1>
    }
    else
    {
        <h1>No order history for customer.</h1>
    }
</div>

<div>
    <div>
        @if (Model != null)
        {
            <h3 class="text-center">Account Details</h3>
            <table class="table text-light">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.customerVm.Username)</th>
                        <th>@Html.DisplayNameFor(model => model.customerVm.FirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.customerVm.LastName)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => Model.customerVm.Username)</td>
                        <td>@Html.DisplayFor(model => Model.customerVm.FirstName)</td>
                        <td>@Html.DisplayFor(model => Model.customerVm.LastName)</td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <h1>No information on customer.</h1>
        }
    </div>
</div>

<div>

    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="PreferredStore">Set Preferred Store</a>
</div>