@model IEnumerable<Project1.Models.StoreHistoryViewModel>

@{
    ViewData["Title"] = "Order History";
}
<div class="text-center">
    @if (Model != null && Model.Any())
    {
        <h1 class="display-4">Store Order History for</h1>
        <h1 class="display-3">@Html.DisplayFor(model => Model.First().storeVm.City), @Html.DisplayFor(model => Model.First().storeVm.Region)</h1>
    }
    else
    {
        <h1 class="display-4">No order history found for store.</h1>
    }
</div>

<div>
    @if (Model != null && Model.Any())
    {
        int prevId = 0;
        <table class="table text-light">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceVm.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.invoiceVm.InvoiceDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.productVm.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.orderLineVm.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.productVm.Price)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal total = 0;
                    foreach (var item in Model)
                    {
                        if (item.invoiceVm.Id != prevId) // new invoice entry
                        {
                            if (prevId != 0)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total:</td>
                                    <td>@total</td>
                                </tr>
                            }
                            <tr>
                                @{
                                    total = item.productVm.Price * item.orderLineVm.Amount;
                                    prevId = item.invoiceVm.Id;
                                    <td>
                                        @Html.DisplayFor(modelItem => item.invoiceVm.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.invoiceVm.InvoiceDate)
                                    </td>

                                    var product = Model.Where(x => x.productVm.Id == item.productVm.Id).FirstOrDefault();
                                    <td>
                                        @Html.DisplayFor(modelItem => item.productVm.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderLineVm.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => product.productVm.Price)
                                    </td>
                                }

                            </tr>
                        }
                        else // same invoice
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                @{
                                    //var product = Model.Where(x => x.productVm.Id == item.productVm.Id).First();
                                    total += item.productVm.Price * item.orderLineVm.Amount;
                                    <td>
                                        @Html.DisplayFor(modelItem => item.productVm.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orderLineVm.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.productVm.Price)
                                    </td>
                                }
                            </tr>
                        }
                        if (Model.Last() == item)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total:</td>
                                <td>@total</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
</div>