@model Project1.Models.ProductViewModel

@{ ViewData["Title"] = "Product Details"; }

<div class="text-center">
    <h1 class="display-4">Details for product</h1>
</div>

<div>
    <img src="@Url.Content(Model.productPictureVm.LargePath)" style="vertical-align:top" height="500">
    <h2>
        @Html.DisplayFor(modelItem => Model.productVm.Name)
    </h2>
    <p>
        @Html.DisplayFor(modelItem => Model.productVm.Description)
    </p>
</div>

<div class="d-flex flex-row">
    <div class="col-4">
        <h4>Price:</h4>
        @Html.DisplayFor(modelItem => Model.productVm.Price)
    </div>
    <div class="col-4">
        <h4>Inventory count:</h4>@Html.DisplayFor(modelItem => Model.inventoryVm.Amount)
    </div>
    <div class="col-4">
        <h4>Add to cart:</h4>
        <p>put in text box and button for adding to cart</p>
    </div>
</div>