@model Project1.Models.ProductViewModel
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

@{ ViewData["Title"] = "Product Details"; }

@{
    var cart = JsonConvert.DeserializeObject<Dictionary<int, int>>(Context.Session.GetString("cart"));
    int cartAmount = 0;
    int maxAmount = Model.inventoryVm.Amount;
    if (cart.ContainsKey(Model.productVm.Id))
    {
        cartAmount = cart[Model.productVm.Id];
    }
    maxAmount -= cartAmount;
}

<div class="text-center">
    <h1 class="display-4">Details for product</h1>
</div>

<div>
    <img src="@Url.Content(Model.productPictureVm.LargePath)" style="vertical-align:top" height="500">
    <h2>
        @Html.DisplayFor(modelItem => Model.productVm.Name)
    </h2>
    <p>
        @Html.DisplayFor(modelItem => Model.productVm.Description)
    </p>
</div>

<div class="d-flex flex-row">
    <div class="col-4">
        <h4>Price:</h4>
        @Html.DisplayFor(modelItem => Model.productVm.Price)
    </div>
    <div class="col-4">
        <h4>Inventory count:</h4>@maxAmount
    </div>
</div>
<br />
<div class="col-2">
    <h4>Add to cart:</h4>
    <form asp-action="Add">
        <div>
            <label for="amount">Amount</label>
            <input type ="number" id="amount" name="amount" min="1" max="@maxAmount" />
            <span class="text-danger"></span>
            @{
                if (Context.Session.GetInt32("storeSession") != null && Context.Session.GetInt32("storeSession") != 0)
                {
                    <input type="submit" asp-controller="Shop" asp-action="Add" asp-route-storeId="@Context.Session.GetInt32("storeSession")" asp-route-productId="@Html.ValueFor(model => Model.productVm.Id)" value="Add to cart" />
                }
            }
        </div>
    </form>
</div>