@using Microsoft.AspNetCore.Http 

@model IEnumerable<Project1.Models.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Product inventory for</h1>
    <h1 class="display-4">@Html.DisplayFor(model => Model.FirstOrDefault().city), @Html.DisplayFor(model =>Model.FirstOrDefault().region)</h1>
    <table class="table text-light">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productVm.Name)                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.productVm.Price)
                </th>
                <th>
                    Inventory Count
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src= "@Url.Content(item.productPictureVm.SmallPath)" style="vertical-align:top" height="50">
                        </td>
                        <td>
                            <a class="text-light mx-auto" asp-action="Details" asp-route-storeId="@Context.Session.GetInt32("storeSession")" asp-route-productId="@item.productVm.Id">@Html.DisplayFor(modelItem => item.productVm.Name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.productVm.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.inventoryVm.Amount)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
